@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
span,
input,
form,
.btn,
textarea,
.navbar,
.navbar-brand,
table,
tr,
td {
  padding: 0;
  margin: 0;
}
/* Default common css end*/
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 61.64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1f373d;
}
p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #1f373d;
}
.common_btn {
  font-size: 15px;
  font-weight: 400;
  color: #1f373d;
  padding: 25px 50px;
  border: none;
  outline: none;
}
/* common_part start */
.footer_part,
.adds_part_content,
.adds_part,
.agent_part,
.works_part,
.appartment_part,
.stat_part {
  padding: 70px 0px;
}
.agent_part,
.appartment_part {
  background-color: #f6f5f4;
}
/* common_part end */
/* header_part start */
.menu_bar {
  padding: 20px 0px;
}
.logo {
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.menu .nav-item .nav-link {
  padding: 5px 18px;
  color: #1f373d;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s all ease;
}
.menu .nav-item:hover .nav-link {
  font-weight: 500;
}
.menu_btn button:last-child {
  background-color: #ffcc01;
  padding: 5px 15px;
  margin-left: 10px;
  color: #1f373d;
  font-weight: 500;
}
/* header_part end */
/* banner_part start */
.carousel-item img {
  height: 80vh;
}
.banner_content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.search_item_box {
  position: relative;
  margin-top: 20px;
}
.search_item_box input {
  padding: 10px 35px;
  border: none;
  outline: none;
  color: #919eb1;
  border-radius: 10px;
}
.search_item_box i.fa-solid {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #919eb1;
}
.search_item_box button {
  padding: 10px 30px;
  background-color: #ffcc01;
  border: none;
  margin-left: -15px;
  border-radius: 10px;
}
.banner_bottom {
  position: absolute;
  bottom: 0;
  right: 12px;
  background-color: #ffcc01;
  padding: 10px;
}
.banner_bottom span {
  margin-left: 15px;
  color: #1f373d;
  font-weight: 600;
}
.banner_bottom span i.fa-solid {
  color: #fff;
  margin-right: 10px;
}
/* banner_part end */
/* stat_part start */
.stat_part h2 {
  margin-bottom: 20px;
}
.stat_part p {
  margin-top: 50px;
}
.stat_part_counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex div {
  width: 190px;
  height: 165px;
  padding: 50px 0;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  background: #f6f5f4;
}
.flex div h3 {
  color: #ffcc01;
  font-size: 60px;
  font-weight: 600;
}
/* stat_part end */
/* appartment_part start */

.appartment_part h2 {
  margin-bottom: 35px;
}
.appartment_item {
  margin-top: 35px;
  background-color: #fff;
  transition: 0.4s all ease;
}
.appartment_item_img img {
  width: 100%;
}
.appartment_item_content {
  padding: 25px 20px;
}
.appartment_item_content h5 {
  margin-bottom: 10px;
}
.appartment_item_content span {
  color: #ffcc01;
  font-weight: 600;
}
.app_right_bottom {
  display: inline-block;
  float: right;
  margin-top: -10px;
}
.appartment_item:hover {
  -webkit-box-shadow: 4px 8px 5px 4px #e9e9e9;
  box-shadow: 4px 8px 5px 4px #e9e9e9;
}
.appartment_part .search_item_box i.fa-solid {
  left: 20px;
}
.appartment_part .search_item_box {
  margin-top: 40px;
}
.appartment_part .view_button {
  margin-left: 30px;
  background-color: #fff;
  border: none;
  font-size: 15px;
  transition: 0.4s;
}
.appartment_part .view_button:hover {
  background-color: #ffcc01;
}
/* appartment_part end */
/* works_part start */
.common_heading h2 {
  margin-bottom: 30px;
}
.common_heading p {
  line-height: 1.8;
}
.work_item {
  padding: 50px;
  margin-top: 40px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.4s all ease;
}
.work_item h2 {
  position: absolute;
  top: -60px;
  left: -22px;
  font-size: 120px;
  color: #1f373d;
}
.work_item h4 {
  margin-top: 60px;
  margin-bottom: 30px;
}
.work_item p {
  line-height: 2;
  margin-bottom: 20px;
}
.work_item h6 {
  position: relative;
}
.work_item h6:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #fff;
}
.works_part .active,
.work_item:hover {
  background-color: #ffcc01;
  color: #fff;
}
/* works_part end */
/* service_part start */
.service_part {
  padding-bottom: 50px;
}
.service_item img {
  width: 100%;
  margin-left: -80px;
}
.service_item_box {
  margin-top: 50px;
}
.service_item_box:first-child {
  margin-top: 0px;
}
.service_item_box h3 {
  margin-bottom: 20px;
}
.service_item_box p {
  margin: 20px 0px;
  line-height: 1.8;
}
/* service_part end */
/* agent_part start */
.social_link {
  margin-top: 0px;
}
.app_right_bottom i.fa-brands {
  font-size: 15px;
  color: #1f373d;
  margin-left: 15px;
  transition: 0.4s all ease;
}
.app_right_bottom i.fa-brands:hover {
  color: #ffcc01;
}
/* agent_part end */
/* adds_part start */
.adds_part_img {
  position: relative;
  margin-top: 30px;
}
.adds_part_content {
  margin-top: 30px;
}
.adds_part_img img {
  width: 100%;
}
.adds_part_img span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcc01;
  padding: 10px 30px;
  color: #1f373d;
  font-weight: 600;
}
.adds_part span i.fa-solid {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}
.adds_part_content h3 {
  margin-bottom: 35px;
}
.adds_part_content p {
  line-height: 1.8;
}
.adds_btn {
  background-color: #1f373d;
  color: #fff;
  margin-top: 30px;
  font-weight: 600;
  transition: 0.4s;
}
.adds_btn:hover {
  background-color: #ffcc01;
}
/* adds_part end */
/* footer_part start */
.footer_part {
  background-color: #1f373d;
}
.footer_part h2 {
  color: #fff;
}
.footer_search {
  position: relative;
}
.footer_search input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 15px;
}
.footer_search i.fa-solid {
  position: absolute;
  right: 25px;
  top: 50%;
  color: #919eb1;
}
.footer_part hr {
  color: #919eb1;
}
.footer_bottom {
  padding-top: 40px;
}
.footer_logo h3 {
  color: #fff;
  margin-bottom: 30px;
}
.footer_logo p {
  color: #fff;
  margin-top: 30px;
  line-height: 1.8;
}
.footer_menu h6 {
  color: #919eb1;
  margin-bottom: 30px;
}
.footer_menu ul li {
  padding: 11px 0px;
}
.footer_menu ul li a {
  color: #fff;
}
.footer_menu ul li:hover a {
  color: #ffcc01;
}
/* footer_part end */
